<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lollotek.umessage"
    android:versionCode="4"
    android:versionName="1.0.3" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <permission
        android:name="com.lollotek.umessage.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.lollotek.umessage.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.lollotek.umessage.UMessageApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="com.lollotek.umessage.services.UMessageService" >
            <intent-filter>
                <action android:name="com.lollotek.umessage.services.UMessageService" />
            </intent-filter>
        </service>

        <receiver android:name="com.lollotek.umessage.receivers.StartUpReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.lollotek.umessage.receivers.NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.lollotek.umessage.receivers.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.lollotek.umessage" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.lollotek.umessage.activities.Main"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.lollotek.umessage.activities.UMessageSettings" />
        <activity
            android:name="com.lollotek.umessage.activities.Registration"
            android:label="Registrazione"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lollotek.umessage.activities.Login"
            android:label="Login"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lollotek.umessage.activities.ConversationsList"
            android:label="Conversazioni"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.lollotek.umessage.activities.Contacts"
            android:label="Contatti"
            android:parentActivityName="com.lollotek.umessage.activities.ConversationsList"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lollotek.umessage.activities.SingleChatContact"
            android:launchMode="singleTask"
            android:parentActivityName="com.lollotek.umessage.activities.ConversationsList"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.lollotek.umessage.activities.Profile"
            android:label="Profilo"
            android:parentActivityName="com.lollotek.umessage.activities.ConversationsList" />
        <activity
            android:name="com.lollotek.umessage.activities.Map"
            android:label="Mappa"
            android:noHistory="true"
            android:parentActivityName="com.lollotek.umessage.activities.ConversationsList" />
        <activity
            android:name="com.lollotek.umessage.activities.Dropbox"
            android:label="Dropbox"
            android:parentActivityName="com.lollotek.umessage.activities.ConversationsList" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-hkkh7cx5dxb7f92" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB_qRL4iSjZPB8vkWUZWnU83P6mjAP-tX8" />
    </application>

</manifest>